<div class="space-y-4" id="available_tags">
  {% for tag_type_name, tag_dict in tags_by_type_and_name.items %}
    <div class="flex items-start gap-4">
      <!-- Tipo di tag come intestazione -->
      <div class="w-40 font-semibold capitalize text-gray-800">
        {{ tag_type_name }}
      </div>

      <!-- Tag associati -->
      <div class="flex flex-wrap gap-2">
        {% for tag_name, tag in tag_dict.items %}
          <form
            hx-get="/tag/get_recipes_by_tags/"
            hx-trigger="submit"
            hx-target="#cards-compact"
            hx-swap="innerHTML"
            onsubmit="updateSelectedTagsInput(this)"
          >
            <button
              type="submit"
              class="clickable-tag text-gray-800 relative cursor-pointer border border-transparent hover:border-black transition-colors duration-150 rounded px-2 py-1"
              data-tag="{{ tag.name }}"
            >
              {{ tag.name }}
            </button>
            <input type="hidden" name="tags" value="" />
          </form>
        {% endfor %}
      </div>
    </div>
  {% empty %}
    <div class="text-gray-500">No tags found.</div>
  {% endfor %}
</div>
